{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "prettierOptions": {
      "cssEnable": [""]
    }
  },
  "rules": {
    "jsx-a11y/href-no-hash": 0
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "globals": {
    "$": true,
    "jQuery": true
  }
}
